* {
  margin: 0;
  padding: 0;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}


h1 {
  font-size: 4vw;
  padding: 20px 0;
  color: #4CAF4F;
}

h2 {
  font-size: 2.5vw;
  color: #4CAF4F;
}

h3 {
  font-size: 1.7vw;
  color: #656464;
}

h4 {
  font-size: 1.35vw;
  padding: 10px 0;
  color: #717171;
}

h5 {
  font-size: 1.3vw;
  padding: 15px 0;
  color: #656464;
}

.h6 {
  font-size: 1vw;
  color: #0E1830;
}

section {
  padding: 40px 0;
}



button {
  background-color: #4CAF50; /* Nút màu xanh */
    color: white;
    border: none;
    font-size: 1.5vw;
    cursor: pointer;
    width: 9vw;
    height: 3.5vw;
    border-radius: 0.7vw;
}

button:hover {
  background-color: #45a049
}


/* === header === */
header {
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
   
}

/* header 1 */

.header_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  padding: 0 100px;
}

    /* header Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}


.logo-name {
  font-weight: bold;
  font-size: 18px;
  color: #0d2d3e;
}

.logo-sub {
  font-size: 12px;
  color: #666;
}

    /* header nav */
.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #18191F;
  font-weight: normal;
  position: relative;
  font-size: 19px;
}


.nav-menu ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: green;
}

.nav-menu ul li a:hover {
  color: green;
  font-weight: bold;
}

.nav-menu ul li a:hover::after {
  width: 100%;
}



    /* Language Switcher */
.language {
  display: flex;
  align-items: center;
  gap: 5px;
}

.language img {
  height: 16px;
}

/* menu-bar */
.mobile-menu-icon span {
  display: none;
}

/* Mobile menu ban đầu ẩn */
.mobile-menu {
  display: none;
  background-color: #fff;
  width: 100%;
  position: absolute;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu ul li {
  border-bottom: 1px solid #eee;
}

.mobile-menu ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #333;
}

.mobile-menu ul li a:hover {
  background-color: #f1f1f1;
  color: #36a340;
}



/* === container === */


/* banner */

.banner {
  background-color: #f9f9f9;
    padding: 0 100px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 650px;
}

.banner_content {
    color: #555;
    text-align: left;

}


.banner_content span {
    color: #656464; /* Màu sắc cho từ "banner_Content" */
    font-weight: bold;
}




.banner_content_img img {
  max-width: 100%;
  height: auto;
  width: 500px;
}

/* about - section */

.about-section {
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
   margin-right: auto;
  }


  
  /*======BÊN TRÁI=======*/

  .circle-outline {
    position: absolute;
    /* top: 30px;
    left: 120px; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgba(76,175,80,0.1);
    background: transparent;
  }
  
  .text-content {
    padding: 0 0 0 15%;
  }
  
  .mountain .img {
    position: relative;
    width: 300px;
    height: 160px;
    margin-top: 430px;
  }
  



  /* ====== BÊN PHẢI ====== */
  .about-img img {
    width: 57vw;
    height: 42vw;
}

  /* vision-section */

  .vision-section {
    text-align: center;
    background-color: #fff;
  }
  
  
  
  .vision-title::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background-color: #36a340;
    margin: 10px auto 0;
    border-radius: 2px;
  }
  
  .vision-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 150px;
    margin-right: 150px;
  }
  
  .vision-card {
    flex: 1;
    max-width: 300px;
    min-width: 260px;
  }
  
  .icon-circle {
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
    background-color: rgba(76, 175, 80, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-circle img {
    width: 30px;
    height: 30px;
  }

  .material-symbols-outlined {
    color: #45a049;
  }
  
  


/* img - vision */

.banner-img {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  justify-content: center;
  padding-top: 30px;
}

  

.img-left img {
  width: 100%;
  height: 90%;
}
.img-right img {
  width:100%;
  height: 90%;
}


  /* ==== sustainable === */

  .sustainable-section {
    position: relative;
    padding: 100px 40px;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
  }

  .sustainable-content {
    justify-self: center;
    align-items: center;
  }
  
  /* VÒNG TRÒN TRANG TRÍ TRÁI */
  .circle {
    position: absolute;
    background-color: rgba(76, 175, 80, 0.1);
    border-radius: 50%;
    z-index: 0;
  }
  
  .big-circle {
    width: 22vw;
    height: 19vw;
    left: -10vw;
    top: 5%;
  }
  
  .small-circle {
    width: 7vw;
    height: 7vw;
    left: 7vw;
    top: 1%;
  }


  /* ==== news ==== */

  .news-section {
    background-color: #f4fbf4;
  }
  
  .news-section h1 {
    text-align: center;
  }

  
  .news-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
  }
  
  .news-card {

    border-radius: 12px;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    justify-items: center;

  }
  
  .news-card:hover {
    transform: translateY(-4px);
  }
  
  .news-thumb img {
    width: 100%;
    height: 18em;
    object-fit: cover;
    display: block;
  }
  
  .news-content {     
    background-color: white;
    padding: 1.5rem 1rem;           /* Gọn gàng hơn */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;     
                     
  }
  .news-readmore {
    justify-content: center;
    color: #36a340;
    font-weight: bold;
    font-size: 1.2vw;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: gap 0.2s ease;
  }
  
  .news-readmore:hover {
    gap: 10px;
  }
  

/* === our partners === */

.our_partners {
  margin-top: 70px;
}

.our_partners_content {
   text-align: center;
}





 .our_partners_logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 140px;
}


.join-with-us {
  display: flex;
  align-items: stretch; /* Đảm bảo 2 bên cao bằng nhau */
  font-family: Arial, sans-serif;
  max-width: 80%;
  margin: 50px auto;
  border-radius: 12px;
  overflow: hidden;
}

.join-left {
  flex: 1;
  background-color: #fff; /* trắng */
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-left img {
  max-width: 100%;
  object-fit: cover;
}

.join-right {
  flex: 1;
  background-color: #f7fbf8; /* xanh nhạt */
  padding: 6vw;
}



/* footer */

.footer {
  font-family: Arial, sans-serif;
  padding: 60px 40px 20px;
  background-color: #fff;
  color: #1c1c1c;
}

.footer-top {
  padding-bottom: 15px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: 3%;
}



.footer-top h3 {
  color: #1c1c1c;
  white-space: nowrap;
}


.subscribe-form input {
  width: 60%;
  padding: 0 2.5vw;
  font-size: 0.8vw;
  border-radius: 0.8vw;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  outline: none;
}
.subscribe-form {
  display: flex;
  width: 50%;
  align-items: stretch;
  gap: 0.5vw;
}

.social {
  text-align: center;
}

.social h4 {
  color: #1c1c1c;
}
.social .icons {
  text-align: center;
}

.social .icons a {
 justify-content: center;
}

.social .icons img {
  width: 35px;
  height: 35px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 300px;
}



.footer-links .column h4 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #1c1c1c;
}

.footer-links .column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links .column ul li {
  margin-bottom: 8px;
}

.footer-links .column ul li a {
  text-decoration: none;
  color: #0E1830;
  font-size: 17px;
}

.footer-bottom {
  text-align: left;
  font-size: 13px;
  color: #aaa;
  border-top: 1px solid #eee;
}
